* { box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');


* {
  font-family: 'Rubik', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
  

}

.right {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url("img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header > h1 {
    color: #11273C;
  }

.header > h2 {
  margin: 0;
  color: #0b578a;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0,0,0,.4);
}

form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  
}

form > p {
  text-align: right;
}

form > p > a {
  color: #000;
  font-size: 14px;
}

form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

form > button {
  padding: 12px 10px;
  border: 0;
  width:300px;
  background: linear-gradient(to right, #00E3F3 0%,#0b578a 100%); 
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
}

.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a0 {
    animation-delay: 1.8s;
  }

.a1 {
  animation-delay: 2s;
}

.a2 {
  animation-delay: 2.1s;
}

.a3 {
  animation-delay: 2.2s;
}

.a4 {
  animation-delay: 2.3s;
}


@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}

.img_preview
{
  width:300px;
  height:200px;
  border: 2px solid rgb(196, 196, 196);
  margin-top: 20px;
  color:rgb(196, 196, 196);
  display:flex;
  align-items: center;
  justify-content: center;
}

.img_preview__image
{
  display:none;
  width:300px;
  height:200px;
}